[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
